<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://iguanastudio.in:3306/iguanast_coon?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">iguanast_con</property>
    <property name="hibernate.connection.password">Yogesh@318899</property>
    <mapping resource="hibernate/User.hbm.xml"/>
    <mapping resource="hibernate/Address.hbm.xml"/>
    <mapping resource="hibernate/FirstSubcategory.hbm.xml"/>
    <mapping resource="hibernate/MainCategory.hbm.xml"/>
    <mapping resource="hibernate/ProductSize.hbm.xml"/>
    <mapping resource="hibernate/ProductByColor.hbm.xml"/>
    <mapping resource="hibernate/ProductDetail.hbm.xml"/>
    <mapping resource="hibernate/Cart.hbm.xml"/>
    <mapping resource="hibernate/SizeStockByColor.hbm.xml"/>
    <mapping resource="hibernate/ProductByColorImages.hbm.xml"/>
    <mapping resource="hibernate/SecondSubcategory.hbm.xml"/>
    <mapping resource="hibernate/Invoice.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
